@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Safe area (https://css-tricks.com/custom-tailwind-css/#aa-envsafe-area-inset-bottom) */
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }

  .safe-left {
    padding-left: env(safe-area-inset-left);
  }
  .safe-right {
    padding-right: env(safe-area-inset-right);
  }
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* PWA */
html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  @apply bg-white text-slate-800 dark:bg-slate-800 dark:text-white antialiased select-none;
  /* user-select: none;
  -webkit-user-select: none; */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

main {
  margin-top: env(titlebar-area-height);
}

/* .header { */
/* top: env(titlebar-area-y); */
/* padding: env(safe-area-inset-top) 0 0 env(safe-area-inset-left); */
/* } */

/* React Bottom Sheet */
.react-modal-sheet-container {
  @apply bg-white text-slate-800 dark:bg-slate-800 dark:text-white rounded-t-2xl !important;
}

.react-modal-sheet-content {
  @apply p-4 !important;
}
